# Python
**__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Env
Backend/.env
.env

# OS
.DS_Store
Thumbs.db

# Storage
Backend/app/storage/
backend/app/storage/uploads/*
backend/app/storage/thumbnails/*
backend/app/storage/faiss/*

Backend/wardrobewhiz.db
